In [19]:
import pandas as pd
from datasets import Dataset, DatasetDict

In [20]:
df = pd.read_csv('data/training.csv')
df.describe(include=object)

                        Game   Text
count                  61692  61121
unique                    32  57295
top     TomClancysGhostRecon
freq                    2322    139

In [21]:
df['input'] = 'Game: ' + df.Game + '; Text: ' + df.Text + ';'
df['input'][1]

'Game: Borderlands; Text: I am coming to the borders and I will kill you all,;'

In [22]:
ds = Dataset.from_pandas(df)
ds

Dataset({
    features: ['ID', 'Game', 'Label', 'Text', 'input'],
    num_rows: 61692
})